head
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Lunch Bunch!
  link(rel="stylesheet" href="/styles/styles.css")
  script(type="text/javascript" src="/scripts/vendor.min.js")
  script(type="text/javascript" src="/scripts/app.js")
